@import "../../styles/variables.css";

/* =============== Navigation Styles ================ */
.navigation {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  background: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation ul {
  display: flex;
  margin-left: auto;
  height: 100%;
  list-style: none;
}

.navigation ul li {
  position: relative;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.navigation ul li:hover {
  background-color: var(--white);
}

.navigation ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  height: 100%;
  padding: 0 15px;
}

.navigation ul li:hover a {
  color: var(--blue);
}

.navigation ul li a .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  font-size: 1.2rem;
}



.navigation ul li a .title {
  margin-left: 8px;
  white-space: nowrap;
}

/* Logo styles */
.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 20px;
}

.logo-container img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

/* ================= Responsive Design ================= */
@media (max-width: 768px) {
  .navigation {
    padding: 0 5px 0 10px;
  }

  .navigation ul li a {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .navigation ul li a .icon {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .navigation ul li a .icon {
    font-size: 1.5rem;
  }

  .navigation ul li a .title {
    font-size: 0.6rem;
    padding: 2px 0 0;
    height: auto;
    line-height: 1;
    margin-left: 0;
  }

  .logo-container img {
    width: 40px;
    height: 40px;
  }
}